body{
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    width: 75%;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 0;
    margin:  25px auto;
    display: block;
}
input:focus{
    outline: none;
    box-shadow: 0 0 10px #1D0C20;
}

button{
    width: 50%;
    padding: 0.5rem 0.5rem;
    margin-top: 0;
    margin-bottom: 0.6rem;

    color: white;
    background-color: #1D0C20;

    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    
    cursor: pointer;
}
button:hover{
    background-color: #641F70;
}

.container{
    background-image: linear-gradient(#0D0011,#651F71);
    margin:auto;

    width: 800px;

    box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;



}
.header{
    padding: 0.5rem;

}
.header-title{
    color: #FECD23;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.9rem;
}

.header-subtitle{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}

.brinde{
    font-weight: 700;
}
.second-container{
    background-image: linear-gradient(#651F71,#0D0011);
    margin:auto;


    width: 750px;

    border-radius: 5px;
    overflow: hidden;

}
.secondary-title{
    color: white;
    font-weight: 500;
    font-size: 1.65rem;
    text-align: center;
    padding: 0.3rem;
}

.third-container{
    display: flex;
    justify-content: space-around;
}
.image-container{
    background-image: linear-gradient(#3B59EE,#78E2FF);
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.image-container-bg{
    background-image: linear-gradient(#2635CF,#352A8C);
    width: 27%;
    padding: 0.5rem;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    overflow: hidden;
}
.developer{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 500;
}

